@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Poppins", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Roboto Mono", monospace;
font-family: "Work Sans", sans-serif; */

:root {
  --color-primary: white;
  --color-secondary: rgb(26, 26, 26);
  --color-heading: rgb(0, 130, 130);
  --color-heading-secondary: purple;
  --transiton-hover-duration: all 0.5s;
  --box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.422);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #0251e5;
  color: white;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-size: 2rem;
}
nav .default-text {
  all: unset;
  text-align: center;
}
nav input::after {
  position: absolute;
  font-size: 3rem;
  content: "|";
  color: rgb(255, 255, 255);
}
nav input:focus-visible {
  outline: none;
}
@media (min-width: 1600px) {
  .default-text {
    font-size: 4rem !important;
  }
}

/* Weather Display Container */

.weather-icon-container {
  max-width: 40%;
}
.weather-icon {
  max-width: 80%;
}
.weather-icon-hidden {
  display: none;
}
.weather-details {
  display: flex;
  justify-content: center;
}
.temperature-container {
  margin-top: auto;
  margin-bottom: auto;
}
.main-temp {
  margin-top: 0rem;
  font-size: 5rem;
}
.main-temp::after {
  position: absolute;
  content: "o";
  font-size: 1rem;
  margin-top: 1rem;
}
.feels-like {
  color: rgb(0, 238, 255);
  margin-top: -5rem;
  font-size: 1.5rem;
}
.feels-like::after {
  position: absolute;
  content: "o";
  font-size: 0.7rem;
}
@media (min-width: 640px) {
  .main-temp {
    font-size: 5rem !important;
  }
  .feels-like {
    font-size: 2.4rem !important;
  }
  .weather-icon-container {
    max-width: 30% !important;
  }
}

@media (min-width: 1024px) {
  .main-temp {
    font-size: 10rem !important;
  }
  .main-temp::after {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .feels-like {
    margin-top: -12rem !important;
    font-size: 2rem !important;
  }
  .feels-like::after {
    font-size: 1rem;
    margin-top: 0.2rem;
  }
  .weather-icon-container {
    max-width: 30% !important;
  }
}
@media (min-width: 1500px) {
  .main-temp {
    font-size: 12rem !important;
  }
  .main-temp::after {
    font-size: 3rem;
    margin-top: 3rem;
  }
  .feels-like {
    margin-top: -15rem !important;
    font-size: 4rem !important;
  }

  .weather-icon-container {
    max-width: 28% !important;
  }
}
@media (min-width: 1920px) {
  .main-temp {
    font-size: 15rem !important;
  }
  .main-temp::after {
    font-size: 3.2rem;
    margin-top: 3rem;
  }
  .feels-like {
    margin-top: -18rem !important;
    font-size: 4.3rem !important;
  }
  .feels-like::after {
    font-size: 1.5rem;
    margin-top: 0.2rem;
  }
  .weather-icon-container {
    max-width: 28% !important;
  }
}

/* Footer  */

footer p {
  text-align: center;
  font-size: 2rem;
}
footer div {
  display: flex;
  justify-content: center;
}
.track-location-btn {
  all: unset;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgb(45, 170, 248);
  transition: 0.5s;
}
.track-location-btn:hover {
  scale: 1.2;
  background-color: blue;
  border-radius: 2rem;
}
